tensorflow==2.20.0
streamlit==1.40.0
keras
numpy
pandas
opencv-python-headless
Pillow
librosa
scikit-learn
scikit-image
matplotlib
pipwin
plotly
scipy
protobuf
wavio
streamlit-drawable-canvas
audio-recorder-streamlit
